* {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body {
	background-color: #f5f5f5;
}

.main {
	padding: 20px;
	box-sizing: border-box;
}

.main p {
	margin: 10px 0;
}

.main a {
	color: #0d47a1;
}

.main a:hover {
	opacity: 0.7;
}