.navbar-user {
	color: #fff !important;
}

#login {
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

#main {
	overflow: hidden;
}

#fs, #editor {
	margin: auto;
	margin-top: 20px;
}

#fs {
	width: 30%;
	float: left;
}

#editor {
	width: 70%;
	float: right;
}

#editor_box {
	height: 400px;
}