.navbar-user {
	color: #fff !important;
}

#login {
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

#main {
	overflow: hidden;
}

#fs, #editor {
	margin: auto;
	margin-top: 20px;
}

#fs {
	width: 30%;
	float: left;
}

.fs-heading {
	margin-top: 20px;
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: bold;
}

#editor {
	width: 70%;
	float: right;
}

#editor_box {
	height: 400px;
}

#version {
	width: 1000px;
	margin: auto;
	margin-top: 30px;
}